@media only screen and ( max-width: 950px ) {

  .header-1 nav .hamburger { 
    display: inline-block; 
    cursor: pointer;
  }

  .header-1 { position: relative; }

  nav { 
    width: 40px; 
    float: right;

    .left {
    	width: 100%;
      display: none;
	    position: absolute;
	    z-index: 5;
	    top: 52px;
	    left: 0;
	    background-color: #fff;
      opacity: 1;

    	li {
    		width: 100% !important;
  	    border: none;
  	    display: block;
  	    background-color: transparent;
  	    text-align: center;

  	    a {
  	    	width: 100%;
  		    display: block;
  		    color: #000;
  		    font-size: 13px;
  	    }
    	}
    }
    .show { display: block; }
  }

  .social li {
  	display: block;
  }

  .header-1 .subscribe { display: none; }
  .banner .balance { display: none; }

  .more-info,
  .topics-io {
    top: 11px !important;
    right: 192px !important;
  }
}