@import 'reset';

body{ 
	font-family:sans-serif; 
}

.wrapper {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

.header-1 {
	width: 100%;
	background-color: #393e42;

	h1 {
		width: 10%;
		display: inline-block;
		vertical-align: top;

		a {
			width: 100%;
			display: block;

			img { width: 100%; }
		}
	}

	nav {
		width: 30%;
		display: inline-block;
		vertical-align: top;

		.hamburger {
		  width: 40px;
		  height: 35px;
		  border: none;
		  margin: 4px 0;
		  display: none;
		  float: right;
		  color: #fff;
		  font-size: 20px;
		  font-weight: 600;
		  outline: none;

		  .menu-1,
			.menu-2,
			.menu-3 {
			  width: 100%;
			  height: 5px;
			  transition: .5s;
			  background-color: #000;
			  text-indent: -9999px;
			}

			.menu-1 { transform: translate(2%,90%); }
			.menu-2 { transform: translate(2%,221%); }
			.menu-3 { transform: translate(2%,348%); }

			.change .menu-1 { transform: rotate(-45deg) translate(-11px, 9px); }
			.change .menu-2 { opacity: 0; }
			.change .menu-3 { transform: rotate(45deg) translate(3px, 3px); }
		}

		.left {
			width: 100%;
			list-style: none;
			position: relative;

			li {
				width: calc(30% - 0px);
				margin-left: -5px;
				display: inline-block;
				vertical-align: top;
				position: relative;
				text-align: center;
				text-transform: capitalize;

				a {
					width: 100%;
					padding: 15px 2%;
					display: block;
					color: #8f9194;
					font-size: 14px;
					text-decoration: none;

					.fas {
						margin-left: 5%;
					}

					&:hover {
						transition-duration: .5s;
						color: #e2170b;
					}

					&:hover > span {
						transition-duration: .5s;
						color: #e2170b;
					}
				}
			}

			.topics,
			.more{
				.topics-io,
				.more-info {
					width: 100%;
					/*margin-top: 27px;*/
				  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				  display: none;
				  position: absolute;
				  top: 48px;
				  z-index: 1;
				  background-color:  #fff;
				  color: #000;
				  list-style: none;
				  /*opacity: 0;*/

					li { display: block;}

				  a {
			  	padding: 12px 16px;
				  display: block;
				  color: #000;
				  text-decoration: none;

				  	&:hover { color: #e2170c; }
			  	} 	
				}

				/*&:hover {
				background-color: #fff;
	  		color: #e2170c;
				}*/

			&:hover .topics-io {
	  		display: block;
				/*opacity: 1;*/
	  		transition-duration: .5s;
			}
			&:hover .more-info {
	  		display: block;
				/*opacity: 1;*/
	  		transition-duration: .5s;
			}

		}
	}
}

	.subscribe {
		width: calc(45% - 0px);
		display: inline-block;
		vertical-align: top;
		float: right;

		.right {
			width: 100%;
			list-style: none;
			text-align: right;

			li {
				width: calc(25% - 0px);
				height: 50px;
				margin-left: -5px;
				display: inline-block;
				vertical-align: top;
				text-align: center;

				a {
					width: 100%;
					padding: 15px 2%;
					display: block;
					color: #8f9194;
					font-size: 14px;
					text-decoration: none;

					&:hover { color: #e2170c; }
				}
				
				.fas {
					width: calc(8% - 0px);
					padding-top: 19px;
					display: inline-block;
					vertical-align: top;
					color: #fff;
					font-size: 14px;
				}

				&:nth-child(2) { 
					width: 45%; 

					a {
						width: calc(68% - 0px);
						display: inline-block;
						text-align: left;

						span {
							width: 100%;
							display: block;

							&:first-child {
								color: #8f9194;
							}
							&:last-child {
								color: #e4ce31;
								font-weight: 600;
							}
						}

						&:hover span {
							transition-duration: .5s;
							color: #e2170b;
						}
					}
				}

				input {
					width: calc(51% - 0px);
					border: none;
					margin-top: 17px;
					margin-left: 9%;
					display: inline-block;
					vertical-align: top;
					background-color: #393e42;
					color: #8f9194;
					outline: none;
				}
			}
		}
	}
}

.advertisement {
	width: 100%;
	padding-top: 7px;

	.dropdown {
		width: 25%;
	  position: relative;
	  display: inline-block;
	  text-align: center;
	  text-transform: uppercase;
	  list-style: none;
	  cursor: pointer;

		.dropbtn {
		  width: 100%;
		  padding: 26px 5%;
		  border: none;
		  color: #000;
		  font-size: 15px;
		  text-transform: uppercase;

		  .fa {
		  	margin-left: 7%;
  			font-size: 20px;  
		  }

		  a {
		  	padding: 12px 16px;
			  display: block;
			  color: #000;
			  text-decoration: none;

			  &:hover { color: #e2170c; }
		  }
		}

		&:hover .dropdown-content { 
			opacity: 1;
  		transition-duration: .5s;
		}

		&:hover .dropbtn {
			background-color: #fff;
  		color: #e2170c;
		}
	}

	.home {
	  width: 25%;
	  display: inline-block;
	  vertical-align: bottom;
	  float: right;

	  span {
	  	display: inline-block; 
		  vertical-align: bottom;
		  color: #808486;
		  font-weight: 600;
		  font-size: 13px;
	  }

	  a {
	  	width: 50%;
  		display: inline-block;
	  }
	}
}

.banner {
	width: 100%;
	background-color: #000;

	.wrapper {
		width: 96%;
		max-width: 1200px;
		margin: 0 auto;

		.social {
			width: 25%;
			padding-bottom: 40px;
			display: inline-block;
			vertical-align: bottom;

			li {
				padding-right: 4%;
				display: inline-block;
				vertical-align: top;

				&:hover { opacity: 0.4; }
			}
		}

		.headings {
			width: 48%;
			padding: 60px 0 30px 0;
			display: inline-block;
			vertical-align: top;
			text-align: center;

			h2 {
				padding-top: 15px;
				color: #fff;
				font-size: 52px;
				font-weight: 900;
			}

			p{
				padding: 30px 0;
				color: #fff;
				font-size: 25px;
				font-weight: 600;
				line-height: 1.5em;
			}

			a {
		    width: 5%;
		    padding-top: 60px;
		    margin: 0 auto;
				display: block;

				img { width: 100%; }

				&:hover { opacity: 0.4; }
			}
		}

		.balance {
			width: 22%;
			padding-bottom: 40px;
			margin-left: 4%;
			display: inline-block;
			vertical-align: bottom;

			img {
				width: 100%;
			}
		}
	}
}

section,
article {
	padding-top: 50px;

	h2 {
		width: 100%;
	  padding: 20px 0;
	  color: #202020;
	  font-size: 43px;
	  font-weight: 700;
	}

	p {
		padding: 10px 0;
	  color: #646464;
	  font-size: 16px;
	  line-height: 1.2em;
	}

	#last { display: none; }

	a {
    width: 19%;
    padding: 12px 0;
    border: 1px solid #00bcd4;
    border-radius: 27px;
    margin-top: 25px;
    display: inline-block;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    span {
    	margin-left: 6%;
    }

		&:hover { 
			transition-duration: .5s;
			background-color: #00bcd4;
			color: #fff;
		}
	}

	.less { display: none; }

	.block { display: inline-block; }
}

article {
	padding-bottom: 70px;

	.display { display: none; }

	.info {
		figure {
			width: 45%;
	    padding-top: 10px;
	    margin: 0 auto;

	    img { width: 100%; }
		}
	}

	a {
		&:last-of-type {
			width: 25%;
			display: inline;
			float: right;
		}
	}

	#display { display: none; }
	.sec-less { display: none; }
}

.img {
	width: 100%;

		img { width: 100%; }
}

.content {
	padding: 50px 0;

	.wrapper {
		background-color: #eeeeee;

		.blog {
			box-sizing: border-box;
			width: 100%;
			padding: 3%;

			ul {
				width: 100%;
				list-style: none;

				li {
					width: 44%;
					display: inline-block;
					vertical-align: top;
					margin-left: 4%;

					.sponser {
						width: 64%; 
  					padding-bottom: 19px;

  					span {
  						display: inline-block;
						  vertical-align: bottom;
						  font-size: 15px;
						  font-weight: 600;
  					}

  					a {
  						width: 36%;
						  display: inline-block;
						  vertical-align: bottom;
  					}
					}

					.thumb {
						a {
							width: 100%;
							display: block;
							position: relative;
							z-index: 1;

							img { width: 100%; }
						}

						.art {
							width: 23%;
							padding: 1.5%;
							border-right: 50px solid transparent;
							position: relative;
							z-index: 1;
							bottom: 37px;
							background-color: #00bcd4;

							figure {
								width: 25%;
								margin-left: 12%;
								display: inline-block;
								vertical-align: top;
							}

							span {
						    width: 48%;
						    margin-left: 5%;
						    margin-top: 3px;
						    display: inline-block;
						    vertical-align: top;
							}

							&:after {
						    content: " ";
						    position: absolute;
						    display: block;
						    width: 32%;
						    height: 100%;
						    top: 0;
						    left: 138px;
						    z-index: 1;
						    background: #00bcd4;
						    transform-origin: top left;
						    transform: skew(30deg, 0deg);
							}
						}
					}
				}
			}
		}
	}

	.blog ul li > a:last-child {
		width: 40%;
    padding: 12px 0;
    border: 1px solid #00bcd4;
    border-radius: 27px;
    margin-top: 25px;
    display: inline-block;
    color: #000;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    span {
    	margin-left: 6%;
    }

		&:hover { 
			transition-duration: .5s;
			background-color: #00bcd4;
			color: #fff;
		}
	}

	p {
		padding: 10px 0;
	  color: #646464;
	  font-size: 16px;
	  line-height: 1.2em;
	}

	.less { display: none; }

}

footer {
	width: 100%;
  padding-top: 20px;
  border-top: 5px solid red;
  margin-top: 70px;
  background-color: #121212;

  .footer-1 ul {
	  width: 100%;
	  padding-bottom: 20px;
	  list-style: none;

	  .first {
	  	width: 15%;
	  	display: inline-block;
	  	vertical-align: top;

	  	ul {
	  		width: 100%;
	  		list-style: none;

	  		li {
	  			display: block;
	  			padding: 13px 0;
	  			margin-left: 12%;
	  			text-align: center;

	  			a {
	  				width: 100%;
	  				display: block;
	  				color: #fff;
	  				font-weight: 600;
	  				text-align: left;
	  				text-decoration: none;

	  				&:hover { 
	  					transition-duration: .5s;
	  					color: red; 
	  				}
	  			}
	  		}
	  	}
	  }

	  .second {
	  	width: 48%;
	  	padding: 2%;
	  	border-left: 1px solid #4f4f4f;
	  	border-right: 1px solid #4f4f4f;
	  	display: inline-block;
	  	vertical-align: top;
  		color: #6c6c6c;

  		span {
  			padding-bottom: 20px;
			  color: #6c6c6c;
			  font-size: 14px;

			  a {
			  	text-decoration: none;
			  	color: #6c6c6c;

			  	&:hover{ 
			  		transition-duration: .5s;
			  		color: #ff0000; 
			  	}
			  }
  		}

  		ul {
  			width: 100%;
			  padding-bottom: 16px;
			  margin-top: 16px;
			  list-style: none;

			  li {
			  	padding: 0 2%;
				  display: inline-block;
				  vertical-align: top;

				  a {
				  	display: block;
					  padding: 5px 2%;
					  color: #b4b4b4;
					  font-size: 20px;
					  font-weight: 600;
					  text-align: center;
					  text-decoration: none;

					  &:hover { 
					  	transition-duration: .5s;
					  	color: #ff0000; 
					  }
				  }
			  }
  		}
	  }

	  .add {
	  	width: 30%;
	  	display: inline-block;
	  	vertical-align: top;
	  	color: #6c6c6c;

	  	ul {
	  		width: 48%;
	  		display: inline-block;
	  		vertical-align: top;
	  		list-style: none;
				
				li {
	  			display: block;
	  			padding: 13px 0;
	  			margin-left: 12%;
	  			text-align: center;

	  			a {
	  				width: 100%;
	  				display: block;
	  				color: #6c6c6c;
	  				font-size: 15px;
	  				text-align: left;
	  				text-decoration: none;

	  				&:hover { 
	  					transition-duration: .5s;
	  					color: #ff0000; 
	  				}
	  			}
				}
	  	}
	  }
	}

	.footer-2 {
	  width: 100%;
	  padding: 50px 0;
	  border-top: 1px solid #c7c7c7;
	  border-bottom: 1px solid #c7c7c7;
	  color: #717171;
	  text-align: center;

	  h3 {
	  	padding-bottom: 5px;
	  	font-size: 16px;
  		font-weight: 600;
	  }

	  p {
			width: 50%;
		  margin: 0 auto;
		  font-style: italic;
	  }
	}

	.footer-3 {
		width: 100%;
	  padding: 8px 0;
	  color: #595959;
	  font-size: 12px;

	  ul {
	  	width: 50%;
		  display: inline-block;
		  vertical-align: top;

		  li {
		  	display: inline-block;
  			vertical-align: top;

  			a {
  				display: block;
				  color: #fff;
				  text-transform: capitalize;
  			}
		  }
	  }

	  span {
	  	float: right;
	  }
	}
}

@import 'media.scss';
