/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    3.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */
.futura-bold-font {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   2. Body
   ========================================================================== */
body {
  font-family: sans-serif;
}

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.header-1 {
  width: 100%;
  background-color: #393e42;
}
.header-1 h1 {
  width: 10%;
  display: inline-block;
  vertical-align: top;
}
.header-1 h1 a {
  width: 100%;
  display: block;
}
.header-1 h1 a img {
  width: 100%;
}
.header-1 nav {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.header-1 nav .hamburger {
  width: 40px;
  height: 35px;
  border: none;
  margin: 4px 0;
  display: none;
  float: right;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  outline: none;
}
.header-1 nav .hamburger .menu-1,
.header-1 nav .hamburger .menu-2,
.header-1 nav .hamburger .menu-3 {
  width: 100%;
  height: 5px;
  transition: .5s;
  background-color: #000;
  text-indent: -9999px;
}
.header-1 nav .hamburger .menu-1 {
  transform: translate(2%, 90%);
}
.header-1 nav .hamburger .menu-2 {
  transform: translate(2%, 221%);
}
.header-1 nav .hamburger .menu-3 {
  transform: translate(2%, 348%);
}
.header-1 nav .hamburger .change .menu-1 {
  transform: rotate(-45deg) translate(-11px, 9px);
}
.header-1 nav .hamburger .change .menu-2 {
  opacity: 0;
}
.header-1 nav .hamburger .change .menu-3 {
  transform: rotate(45deg) translate(3px, 3px);
}
.header-1 nav .left {
  width: 100%;
  list-style: none;
  position: relative;
}
.header-1 nav .left li {
  width: calc(30% - 0px);
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.header-1 nav .left li a {
  width: 100%;
  padding: 15px 2%;
  display: block;
  color: #8f9194;
  font-size: 14px;
  text-decoration: none;
}
.header-1 nav .left li a .fas {
  margin-left: 5%;
}
.header-1 nav .left li a:hover {
  transition-duration: .5s;
  color: #e2170b;
}
.header-1 nav .left li a:hover > span {
  transition-duration: .5s;
  color: #e2170b;
}
.header-1 nav .left .topics,
.header-1 nav .left .more {
  			/*&:hover {
  			background-color: #fff;
    		color: #e2170c;
  			}*/
}
.header-1 nav .left .topics .topics-io,
.header-1 nav .left .topics .more-info,
.header-1 nav .left .more .topics-io,
.header-1 nav .left .more .more-info {
  width: 100%;
  /*margin-top: 27px;*/
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  position: absolute;
  top: 48px;
  z-index: 1;
  background-color: #fff;
  color: #000;
  list-style: none;
  /*opacity: 0;*/
}
.header-1 nav .left .topics .topics-io li,
.header-1 nav .left .topics .more-info li,
.header-1 nav .left .more .topics-io li,
.header-1 nav .left .more .more-info li {
  display: block;
}
.header-1 nav .left .topics .topics-io a,
.header-1 nav .left .topics .more-info a,
.header-1 nav .left .more .topics-io a,
.header-1 nav .left .more .more-info a {
  padding: 12px 16px;
  display: block;
  color: #000;
  text-decoration: none;
}
.header-1 nav .left .topics .topics-io a:hover,
.header-1 nav .left .topics .more-info a:hover,
.header-1 nav .left .more .topics-io a:hover,
.header-1 nav .left .more .more-info a:hover {
  color: #e2170c;
}
.header-1 nav .left .topics:hover .topics-io,
.header-1 nav .left .more:hover .topics-io {
  display: block;
  /*opacity: 1;*/
  transition-duration: .5s;
}
.header-1 nav .left .topics:hover .more-info,
.header-1 nav .left .more:hover .more-info {
  display: block;
  /*opacity: 1;*/
  transition-duration: .5s;
}
.header-1 .subscribe {
  width: calc(45% - 0px);
  display: inline-block;
  vertical-align: top;
  float: right;
}
.header-1 .subscribe .right {
  width: 100%;
  list-style: none;
  text-align: right;
}
.header-1 .subscribe .right li {
  width: calc(25% - 0px);
  height: 50px;
  margin-left: -5px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.header-1 .subscribe .right li a {
  width: 100%;
  padding: 15px 2%;
  display: block;
  color: #8f9194;
  font-size: 14px;
  text-decoration: none;
}
.header-1 .subscribe .right li a:hover {
  color: #e2170c;
}
.header-1 .subscribe .right li .fas {
  width: calc(8% - 0px);
  padding-top: 19px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 14px;
}
.header-1 .subscribe .right li:nth-child(2) {
  width: 45%;
}
.header-1 .subscribe .right li:nth-child(2) a {
  width: calc(68% - 0px);
  display: inline-block;
  text-align: left;
}
.header-1 .subscribe .right li:nth-child(2) a span {
  width: 100%;
  display: block;
}
.header-1 .subscribe .right li:nth-child(2) a span:first-child {
  color: #8f9194;
}
.header-1 .subscribe .right li:nth-child(2) a span:last-child {
  color: #e4ce31;
  font-weight: 600;
}
.header-1 .subscribe .right li:nth-child(2) a:hover span {
  transition-duration: .5s;
  color: #e2170b;
}
.header-1 .subscribe .right li input {
  width: calc(51% - 0px);
  border: none;
  margin-top: 17px;
  margin-left: 9%;
  display: inline-block;
  vertical-align: top;
  background-color: #393e42;
  color: #8f9194;
  outline: none;
}

.advertisement {
  width: 100%;
  padding-top: 7px;
}
.advertisement .dropdown {
  width: 25%;
  position: relative;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  cursor: pointer;
}
.advertisement .dropdown .dropbtn {
  width: 100%;
  padding: 26px 5%;
  border: none;
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
}
.advertisement .dropdown .dropbtn .fa {
  margin-left: 7%;
  font-size: 20px;
}
.advertisement .dropdown .dropbtn a {
  padding: 12px 16px;
  display: block;
  color: #000;
  text-decoration: none;
}
.advertisement .dropdown .dropbtn a:hover {
  color: #e2170c;
}
.advertisement .dropdown:hover .dropdown-content {
  opacity: 1;
  transition-duration: .5s;
}
.advertisement .dropdown:hover .dropbtn {
  background-color: #fff;
  color: #e2170c;
}
.advertisement .home {
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
  float: right;
}
.advertisement .home span {
  display: inline-block;
  vertical-align: bottom;
  color: #808486;
  font-weight: 600;
  font-size: 13px;
}
.advertisement .home a {
  width: 50%;
  display: inline-block;
}

.banner {
  width: 100%;
  background-color: #000;
}
.banner .wrapper {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
}
.banner .wrapper .social {
  width: 25%;
  padding-bottom: 40px;
  display: inline-block;
  vertical-align: bottom;
}
.banner .wrapper .social li {
  padding-right: 4%;
  display: inline-block;
  vertical-align: top;
}
.banner .wrapper .social li:hover {
  opacity: 0.4;
}
.banner .wrapper .headings {
  width: 48%;
  padding: 60px 0 30px 0;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.banner .wrapper .headings h2 {
  padding-top: 15px;
  color: #fff;
  font-size: 52px;
  font-weight: 900;
}
.banner .wrapper .headings p {
  padding: 30px 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5em;
}
.banner .wrapper .headings a {
  width: 5%;
  padding-top: 60px;
  margin: 0 auto;
  display: block;
}
.banner .wrapper .headings a img {
  width: 100%;
}
.banner .wrapper .headings a:hover {
  opacity: 0.4;
}
.banner .wrapper .balance {
  width: 22%;
  padding-bottom: 40px;
  margin-left: 4%;
  display: inline-block;
  vertical-align: bottom;
}
.banner .wrapper .balance img {
  width: 100%;
}

section,
article {
  padding-top: 50px;
}
section h2,
article h2 {
  width: 100%;
  padding: 20px 0;
  color: #202020;
  font-size: 43px;
  font-weight: 700;
}
section p,
article p {
  padding: 10px 0;
  color: #646464;
  font-size: 16px;
  line-height: 1.2em;
}
section #last,
article #last {
  display: none;
}
section a,
article a {
  width: 19%;
  padding: 12px 0;
  border: 1px solid #00bcd4;
  border-radius: 27px;
  margin-top: 25px;
  display: inline-block;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
section a span,
article a span {
  margin-left: 6%;
}
section a:hover,
article a:hover {
  transition-duration: .5s;
  background-color: #00bcd4;
  color: #fff;
}
section .less,
article .less {
  display: none;
}
section .block,
article .block {
  display: inline-block;
}

article {
  padding-bottom: 70px;
}
article .display {
  display: none;
}
article .info figure {
  width: 45%;
  padding-top: 10px;
  margin: 0 auto;
}
article .info figure img {
  width: 100%;
}
article a:last-of-type {
  width: 25%;
  display: inline;
  float: right;
}
article #display {
  display: none;
}
article .sec-less {
  display: none;
}

.img {
  width: 100%;
}
.img img {
  width: 100%;
}

.content {
  padding: 50px 0;
}
.content .wrapper {
  background-color: #eeeeee;
}
.content .wrapper .blog {
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
}
.content .wrapper .blog ul {
  width: 100%;
  list-style: none;
}
.content .wrapper .blog ul li {
  width: 44%;
  display: inline-block;
  vertical-align: top;
  margin-left: 4%;
}
.content .wrapper .blog ul li .sponser {
  width: 64%;
  padding-bottom: 19px;
}
.content .wrapper .blog ul li .sponser span {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;
  font-weight: 600;
}
.content .wrapper .blog ul li .sponser a {
  width: 36%;
  display: inline-block;
  vertical-align: bottom;
}
.content .wrapper .blog ul li .thumb a {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}
.content .wrapper .blog ul li .thumb a img {
  width: 100%;
}
.content .wrapper .blog ul li .thumb .art {
  width: 23%;
  padding: 1.5%;
  border-right: 50px solid transparent;
  position: relative;
  z-index: 1;
  bottom: 37px;
  background-color: #00bcd4;
}
.content .wrapper .blog ul li .thumb .art figure {
  width: 25%;
  margin-left: 12%;
  display: inline-block;
  vertical-align: top;
}
.content .wrapper .blog ul li .thumb .art span {
  width: 48%;
  margin-left: 5%;
  margin-top: 3px;
  display: inline-block;
  vertical-align: top;
}
.content .wrapper .blog ul li .thumb .art:after {
  content: " ";
  position: absolute;
  display: block;
  width: 32%;
  height: 100%;
  top: 0;
  left: 138px;
  z-index: 1;
  background: #00bcd4;
  transform-origin: top left;
  transform: skew(30deg, 0deg);
}
.content .blog ul li > a:last-child {
  width: 40%;
  padding: 12px 0;
  border: 1px solid #00bcd4;
  border-radius: 27px;
  margin-top: 25px;
  display: inline-block;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.content .blog ul li > a:last-child span {
  margin-left: 6%;
}
.content .blog ul li > a:last-child:hover {
  transition-duration: .5s;
  background-color: #00bcd4;
  color: #fff;
}
.content p {
  padding: 10px 0;
  color: #646464;
  font-size: 16px;
  line-height: 1.2em;
}
.content .less {
  display: none;
}

footer {
  width: 100%;
  padding-top: 20px;
  border-top: 5px solid red;
  margin-top: 70px;
  background-color: #121212;
}
footer .footer-1 ul {
  width: 100%;
  padding-bottom: 20px;
  list-style: none;
}
footer .footer-1 ul .first {
  width: 15%;
  display: inline-block;
  vertical-align: top;
}
footer .footer-1 ul .first ul {
  width: 100%;
  list-style: none;
}
footer .footer-1 ul .first ul li {
  display: block;
  padding: 13px 0;
  margin-left: 12%;
  text-align: center;
}
footer .footer-1 ul .first ul li a {
  width: 100%;
  display: block;
  color: #fff;
  font-weight: 600;
  text-align: left;
  text-decoration: none;
}
footer .footer-1 ul .first ul li a:hover {
  transition-duration: .5s;
  color: red;
}
footer .footer-1 ul .second {
  width: 48%;
  padding: 2%;
  border-left: 1px solid #4f4f4f;
  border-right: 1px solid #4f4f4f;
  display: inline-block;
  vertical-align: top;
  color: #6c6c6c;
}
footer .footer-1 ul .second span {
  padding-bottom: 20px;
  color: #6c6c6c;
  font-size: 14px;
}
footer .footer-1 ul .second span a {
  text-decoration: none;
  color: #6c6c6c;
}
footer .footer-1 ul .second span a:hover {
  transition-duration: .5s;
  color: #ff0000;
}
footer .footer-1 ul .second ul {
  width: 100%;
  padding-bottom: 16px;
  margin-top: 16px;
  list-style: none;
}
footer .footer-1 ul .second ul li {
  padding: 0 2%;
  display: inline-block;
  vertical-align: top;
}
footer .footer-1 ul .second ul li a {
  display: block;
  padding: 5px 2%;
  color: #b4b4b4;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
footer .footer-1 ul .second ul li a:hover {
  transition-duration: .5s;
  color: #ff0000;
}
footer .footer-1 ul .add {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  color: #6c6c6c;
}
footer .footer-1 ul .add ul {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  list-style: none;
}
footer .footer-1 ul .add ul li {
  display: block;
  padding: 13px 0;
  margin-left: 12%;
  text-align: center;
}
footer .footer-1 ul .add ul li a {
  width: 100%;
  display: block;
  color: #6c6c6c;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
}
footer .footer-1 ul .add ul li a:hover {
  transition-duration: .5s;
  color: #ff0000;
}
footer .footer-2 {
  width: 100%;
  padding: 50px 0;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  color: #717171;
  text-align: center;
}
footer .footer-2 h3 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}
footer .footer-2 p {
  width: 50%;
  margin: 0 auto;
  font-style: italic;
}
footer .footer-3 {
  width: 100%;
  padding: 8px 0;
  color: #595959;
  font-size: 12px;
}
footer .footer-3 ul {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
footer .footer-3 ul li {
  display: inline-block;
  vertical-align: top;
}
footer .footer-3 ul li a {
  display: block;
  color: #fff;
  text-transform: capitalize;
}
footer .footer-3 span {
  float: right;
}

@media only screen and (max-width: 950px) {
  .header-1 nav .hamburger {
    display: inline-block;
    cursor: pointer;
  }

  .header-1 {
    position: relative;
  }

  nav {
    width: 40px;
    float: right;
  }
  nav .left {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 5;
    top: 52px;
    left: 0;
    background-color: #fff;
    opacity: 1;
  }
  nav .left li {
    width: 100% !important;
    border: none;
    display: block;
    background-color: transparent;
    text-align: center;
  }
  nav .left li a {
    width: 100%;
    display: block;
    color: #000;
    font-size: 13px;
  }
  nav .show {
    display: block;
  }

  .social li {
    display: block;
  }

  .header-1 .subscribe {
    display: none;
  }

  .banner .balance {
    display: none;
  }

  .more-info,
  .topics-io {
    top: 11px !important;
    right: 192px !important;
  }
}

/*# sourceMappingURL=style.css.map */
